*{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}
body{
	font-family: 'poppins', sans-serif;
	font-size: 14px;
	line-height: 24px;
/*	background: url(../images/background.jpg) center top no-repeat;
	background-size: cover;*/
	-webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6,{
	font-family: 'lato' sans-serif;
	text-transform: uppercase;
}
a, a:hover{
	text-decoration: none;
}
ul, ol{
	list-style: none;
}
/*********************************
*** Website Css Code Goes Here***
**********************************/

/** Global Css **/
.container{
	width: 1140px;
	margin: 0px auto;
}
.row{
	width: 100%;
	float: left;
	margin: 5px 0px;
}
.col-10{
	width: 83.33%;
	float: left;
}
.col-8{
	width: 66.66%;
	float: left;
}
.col-6{
	width: 50%;
	float: left;
}
.col-4{
	width: 33.33%;
	float: left;
}
.col-3{
	width: 25%;
	float: left;
}
.col-2{
	width: 16.66%;
	float: left;
}


/** Header code starts **/
.header{
	width: 100%;
	float: left;
	background: url(../images/background.jpg) center top no-repeat;
	background-size: cover;
}
.top-header{
	width: 100%;
	float: left;
	display: block;
	/*background: url(../images/hf-background.jpg) center no-repeat;
	background-size: cover;*/
}
.top-header p {
	font-size: 13px;
	color: #555555;
}
.top-header ul{
	display: block;
	text-align: right;
}
.top-header li{
	display: inline-block;
	font-size: 20px;
    margin: 0px 0px 0px 5px;
}
.top-header li i{
	font-size: 20px;
	color: #555555;
	transition: .2s;
}
.top-header li i:hover{
	color: #999;
	transition: .2s;
}
.header-menu{
	width: 100%;
	float: left;
	display: block;
	
}
.header-menu img{
	width: 276px;
	height:60px;
	margin: 20px 0px;
}
.header-menu ul{
	display: block;
	text-align: right;
	margin-top: 10px;
}
.header-menu li{
	display: inline-block;
    text-transform: uppercase;
    margin: 0px 10px 0px 15px;
}
.header-menu li a{
	font-size: 16px;
    line-height: 26px;
    letter-spacing: 2px;
	color: #555555;
	margin: 5px 5px 5px 5px;
	transition: .3s;
}
.header-menu li a:hover{
	font-size: 16.5px;
	color: #333333;
}

/** Share link code starts **/
.fb-share{
	width: 255px;
	height: 65px;
	position: fixed;
    top: 65%;
    left: 96%;
    background: #fff;
    transition: .3s;
    z-index: 2
}
.fb-share:hover{
	position: fixed;
    top: 65%;
    left: 84%;
}
.fb-share img{
	width: 255px;
	height: 65px;
}
.twitter-share{
	width: 255px;
	height: 65px;
	position: fixed;
    top: 75%;
    left: 96%;
    background: #fff;
    transition: .3s;
    z-index: 2
}
.twitter-share:hover{
	position: fixed;
    top: 75%;
    left: 84%;
}
.twitter-share img{
	width: 255px;
	height: 65px;
}

/** Banner Section code starts **/
.inner-banner{
	width: 100%;
	height: 500px;
	float: left;
	background: url(../images/banner.jpg) center top no-repeat;
	background-size: cover;
	text-align: right;
	border-radius: 10px;
	margin-top: 10px;
}
.inner-banner h3{
	font-size: 75px;
    line-height: 85px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 79px 0px 0px 0px;
    color: floralwhite;
}
.inner-banner p{
	font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    padding: 5px 0px 5px 600px;
    color: papayawhip;
}
.inner-banner .btn{
	font-size: 34px;
    font-weight: 700;
    font-family: initial;
    position: relative;
    top: 30px;
    right: 200px;
    background: antiquewhite;
    padding: 2px 5px;
    color: #555555;
    box-shadow: 0px 0px 18px 2px #000;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: .2s;
}
.inner-banner .btn:hover{
	font-size: 35px;
	background: #555555;
	color: antiquewhite;
	box-shadow: 0px 0px 18px 8px #000;
}

/** Services Section code starts **/
.services-section{
	width: 100%;
	float: left;
	margin-top: 50px;
}
.services-stamp{
	width: 200px;
    height: 46px;
    position: relative;
    left: 170px;
    text-align: center;
    float: left;
    background: transparent;
    color: #555555;
    border: 2px solid #555555;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.services-section .services-stamp h3{
	text-align: center;
    font-size: 30px;
    padding-top: 10px;
    font-family: fantasy;
    font-weight: 400;
}
.services-1{
	padding: 5px 0px; 
}
.services-1 img{
	width: 250px;
    height: 250px;
    margin: 0px 17px;
}
.services-2{
	padding: 5px 0px;
}
.services-2 img{
    width: 250px;
    height: 250px;
    margin: 0px 17px;
}
.services-3{
	padding: 5px 0px;
}
.services-3 img{
    width: 250px;
    height: 250px;
    margin: 0px 17px;
}
.services-4{
	padding: 5px 0px;
}
.services-4 img{
    width: 250px;
    height: 250px;
    margin: 0px 17px;
}
.services-section h3{
	text-align: center;
	font-size: 20px;
}
.services-section p{
	font-size: 16px;
    line-height: 26px;
    padding: 5px 8px;
}

/** Footer Section code starts **/
.footer{
	width: 100%;
	float: left;
	background: url(../images/hf-background.jpg) center no-repeat;
	background-size: cover;
	margin-top: 5px;
}
.footer-about{
    border-right: 3px solid aliceblue;
    padding: 5px 0px;
}
.footer-about h4{
	font-size: 18px;
    line-height: 28px;
    margin-left: 100px;
    color: aliceblue;
    text-transform: uppercase;
}
.footer-about ul{
    margin-left: 100px;
}
.footer-about li a{
	color: aliceblue;
}
.footer-about li a:hover{
	color: bisque;
}
.footer-products{
    border-right: 3px solid aliceblue;
    padding: 5px 0px;
}
.footer-products h4{
	font-size: 18px;
    line-height: 28px;
    margin-left: 100px;
    color: aliceblue;
    text-transform: uppercase;
}
.footer-products ul{
	margin-left: 100px;
}
.footer-products li a{
	color: aliceblue;
}
.footer-products li a:hover{
    color: bisque;
}
.footer-list{
	padding: 5px 0px;
}
.footer-list ul{
	margin-left: 100px;
}
.footer-list li{
	padding-top: 15px;
}
.footer-list li h3{
	font-size: 17px;
    color: aliceblue;
    text-transform: uppercase;
}
.footer-list li h3:hover{
    color: bisque;
}
.copyright{
	font-size: 12px;
    color: aliceblue;
    text-align: right;
}
/** Home page code ends **/


/** Products page code starts **/
/** Feature Section code starts **/
.featured-section{
	width: 100%;
	float: left;
}
.featured-stamp{
	width: 200px;
    height: 46px;
    position: relative;
    left: 170px;
    text-align: center;
    float: left;
    background: transparent;
    color: #555555;
    border: 2px solid #555555;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.featured-section .featured-stamp h3{
	text-align: center;
    font-size: 25px;
    padding-top: 10px;
    font-family: fantasy;
    font-weight: 400;
}
.featured-section p{
	text-align: left;
	font-size: 18px;
	font-weight: 500;
	line-height: 28px;
	padding-right: 415px;
}
.mar{
	margin-top: -5px;
}
.products{
	width: 100%;
	float: left;
	position: relative;
}
.products img{
    width: 278px;
    height: 235px;
    border-radius: 2%;
}
.products .inner-hover{
    width: 278px;
    height: 235px;
	position: absolute;
	top: 0;
	left: 0;
	background: rgb(26, 156, 237, 0.5);
	border-radius: 2%;
	display: none;
}
.products:hover .inner-hover{
	display: block;
}
.products .icons{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.products .icons a{
	margin-left: 5px;
}
.products .icons a img{
	width: 60px;
	height: 60px;
	transition: .2s;
}
.products .icons a img:hover{
	background: rgb(26, 156, 237, 0.6);
	border: 1px solid #fff;
}

/** Offers section code starts **/
.offers-stamp{
	width: 200px;
    height: 46px;
    position: relative;
    left: -200px;
    text-align: center;
    float: right;
    background: transparent;
    color: #555555;
    border: 2px solid #555555;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
}
.offers-stamp h3{
	text-align: center;
    font-size: 25px;
    padding-top: 10px;
    font-family: fantasy;
    font-weight: 400;
}
.offers-section p{
	text-align: right;
	font-size: 18px;
	font-weight: 500;
	line-height: 28px;
	padding-left: 415px;
}
.upper-row-offers{
	width: 100%;
	float: left;
	position: relative;
}
.upper-row-offers img{
	width: 562px;
    height: 410px;
    border-radius: 2%;
}
.upper-row-offers .inner-hover{
	width: 562px;
    height: 410px;
	position: absolute;
	top: 0;
	left: 0;
	background: rgb(26, 156, 237, 0.5);
	border-radius: 2%;
	display: none;
}
.upper-row-offers:hover .inner-hover{
	display: block;
}
.upper-row-offers .icons{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.upper-row-offers .icons a{
	margin-left: 5px;
}
.upper-row-offers .icons a img{
	width: 100px;
	height: 100px;
	transition: .2s;
}
.upper-row-offers .icons a img:hover{
	background: rgb(26, 156, 237, 0.6);
	border: 1px solid #fff;
}

.lower-row-offers{
	width: 100%;
	float: left;
	position: relative;
}
.lower-row-offers img{
	width: 371px;
    height: 410px;
    border-radius: 2%;
}
.lower-row-offers .inner-hover{
	width: 371px;
    height: 410px;
	position: absolute;
	top: 0;
	left: 0;
	background: rgb(26, 156, 237, 0.5);
	border-radius: 2%;
	display: none;
}
.lower-row-offers:hover .inner-hover{
	display: block;
}
.lower-row-offers .icons{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.lower-row-offers .icons a{
	margin-left: 5px;
}
.lower-row-offers .icons a img{
	width: 100px;
	height: 100px;
	transition: .2s;
}
.lower-row-offers .icons a img:hover{
	background: rgb(26, 156, 237, 0.6);
	border: 1px solid #fff;
}
/** products page ends here **/


/** Contact Page code starts **/
.main-section{
	width: 100%;
	float: left;
}
.upper-form{
	width: 100%;
	float: left;
	text-align: left;
}
.upper-form h2{
	font-size: 40px;
    line-height: 50px;
    font-family: fantasy;
    font-weight: 400;
    color: #555555;
}
.upper-form p{
	font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #555555;
}
.main-form{
	width: 100%;
	float: left;
}
.form-group{
	width: 100%;
    float: left;
    text-transform: uppercase;
}
label{
	font-size: 16px;
    line-height: 26px;
    color: #fff;
    font-weight: 700;
    background: #000;
    padding: 3px 10px;
    position: relative;
    left: 42px;
    top: 8px;
    border-radius: 8px;
}
.form-control{
	width: 50%;
    padding: 6px;
	font-size: 16px;
    line-height: 26px;
    border-radius: 8px;
}
.checkbox-control{
	position: relative;
	top: 10px;
}
.form-group .btn{
	width: 150px;
    height: 45px;
    font-size: 35px;
    font-weight: 700;
    position: relative;
    top: -27px;
    left: 344px;
    font-family: fantasy;
    border-radius: 8px;
    background: seashell;
    color: #555555;
    transition: .5s;
}
.form-group .btn:hover{
	color: seashell;
	background: #555555;
}
.inner-contact{
	float: right;
    position: absolute;
    left: 75%;
    top: 55%;
}
.inner-contact p{
	padding-bottom: 60px;
}
